* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Helvetica", sans-serif;
}

.jumbotron img {
    opacity: 0;
}

.card {
    min-height: 525px;
}

.card-img-top {
    max-width: 100%;
    object-fit: cover;
}

.btn-group {
    margin-right: 20px;
}

.badge {
    margin-left: 10px;
}

.enrolled-span {
    text-decoration: underline;
    background-color: green;
    color: white;
    padding: 2%;
    border-radius: 4px;
}

.notifications {
    background-color: rgba(238, 74, 74, 0.699);
    margin: 0 auto;
    text-align: center;
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 6px;
    color: white;
    font-style: italic;
    text-decoration: underline;
    box-shadow: 0 5px 10px #cccccc;
}

.page-footer {
    background-color: #343A40;
    color: white;
    height: 60px;
}

.min-heigth-90 {
    min-height: 90vh;
}

@media only screen and (min-width: 768px) {
    .jumbotron img {
        opacity: 1;
    }

    .card {
        min-height: 550px;
    }
}